<mat-chip-listbox> 
  @for (chip of frameworkChips; track chip) {
    <mat-chip-option (selectionChange)="Update(chip)">
    {{ chip.name }}
  </mat-chip-option> 
    }       
   
</mat-chip-listbox> 
<!-- To be continued to add mat-cards on plus icon click -->
<button mat-icon-button>
  <mat-icon>add</mat-icon>
</button>
<mat-card>
  <mat-card-content > 
    <form >
      <mat-form-field  appearance="fill" style="width: 100%;">
        <!-- To be done adding chip data to the textarea -->
        <textarea matInput rows="5"></textarea>
      </mat-form-field>
    </form>
</mat-card-content>
</mat-card>